.voltage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 0;
    width: 100%;
}

.voltage-icon {
    color: #FFB800;
    animation: pulse 2s infinite;
    margin-left: 0;
}

.voltage-number-container {
    margin-left: 5px;
    width: 110px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.voltage-number {
    font-size: 35px;
    position: absolute;
    font-weight: bold;
    background: linear-gradient(45deg, #FFB800, #FF8A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(255, 184, 0, 0.4);

}

.voltage-number.slide-up-out {
    animation: slideUpOut 0.3s ease-out forwards;
}

.voltage-number.slide-up-in {
    animation: slideUpIn 0.3s ease-out;
}

.voltage-number.slide-down-out {
    animation: slideDownOut 0.3s ease-out forwards;
}

.voltage-number.slide-down-in {
    animation: slideDownIn 0.3s ease-out;
}

@keyframes slideUpOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideUpIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDownOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slideDownIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.7);
        opacity: 1;
        color: #FFB800;
    }
    50% {
        transform: scale(2.0);
        opacity: 0.8;
        color: #FF8A00;
    }
    100% {
        transform: scale(1.7);
        opacity: 1;
        color: #FFB800;
    }
} 